{% extends 'main.html' %}
{% block content %}        
        <table border="1" width="80%">
            <tr>
                <th>ID</th>
                <th>Domain Name</th>
                <th>Direction</th>
                <th>Date & Time</th>
                <th>Duration</th>
            </tr>
            {% for result in data %}
                <tr>
                    <td>{{result.user_id}}</td>
                    <td>{{result.d_name}}</td>
                    <td>{{result.direction}}</td>
                    <td>{{result.created_on}}</td>
                    <td>{{result.duration}}</td>
                </tr>
            {% endfor %}
            <tr style="font-weight: bold;">
                <td colspan="4" style="text-align: end;">TOTAL:</td>
                <td>{{ total|floatformat:2 }} min</td>
                <!-- <td id="totduration" ></td> -->
            </tr>
        </table>
        <a href="{% url 'generate-csv' %}" class="btn btn-success mt-2">DOWNLOAD CSV
        </a>
   <p>{{ get_absolute_url }}</p>
 
{% endblock %}