<!DOCTYPE html>
<head>
    <title>Fetch all Data from PostgreSQL DB</title>
</head>
<body>
    <center>
        <h1>We are successfuly fetch data from existing DB</h1>
        <hr>
        <table border="1">
            <tr>
                <th>ID</th>
                <th>Domain Name</th>
                <th>Direction</th>
                <th>Date & Time</th>
                <th>Duration</th>
            </tr>
            {% for result in data %}
                <tr>
                    <td>{{result.user_id}}</td>
                    <td>{{result.d_name}}</td>
                    <td>{{result.direction}}</td>
                    <td>{{result.created_on}}</td>
                    <td>{{result.duration}}</td>
                </tr>
                
            {% endfor %}
        </table>
    </center>
</body>